body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  text-align: center;
}

p > #cat {
  position: relative;
  width: 80px;
}

p > #hat {
  position: relative;
  width: 80px;
}
